* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  margin: 2% 5%;
  color: #4c4c4c;
}

h1 {
  text-align: center;
}

/* Landing Page Styling */

.filter-bar {
  border: solid 2px #f90;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}

.input-box:focus {
  outline: none;
}

.filter-header {
  display: inline;
}

.image-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* CSS Purely for the search bar */
.search-bar {
  display: flex;
  margin-left: 39%;
}

.input-box {
  padding: 5px;
  border: solid 1px #f90;
  font-size: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  font-size: 110%;
  /* margin: 15px auto;
  margin-right: 0; */
}

.search-button {
  background-color: #f90; 
  border: solid 1px #f90;
  color: #fff; 
  width: auto;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  padding-top: 3px;
}

.search-button:hover {
  background-color: darkorange;
}

/* Media List Styling */
.media-box {
  color: #fff;
  border: solid 2px #f90;
  margin-bottom: 20px;
  background-color: #f90;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left:20px;
  font-size: 90%;
  transition: 0.2s;
}

.media-box:hover {
  background-color: black;
}

.image-frame {
  padding: 5px;
  margin: 8px;
  text-align: center;
  border: solid 1px #4c4c4c;
}

.image-item {
  max-width: 90%;
}

/* Check Box CSS */
.select-group {
  margin-top: 20px;
  font-size: 115%;
  text-align: center;
}

.select-checkbox {
  margin-left: 25px;
  width: 25px;
  border: solid 1px black;
}

.select-checkbox:checked {
  background-color: #f90
}

/* Asset Styling */
.asset-container {
  margin: 0 2%;
  text-align: center;
  border: 1px solid #f90;
  border-radius: 5px;
  background-color:#ecf2f9;
}

.asset-image {
  width: 70%;
  align-content: center;
}

.asset-description {
  margin: 2% 3%;
}



